<nav class="navbar navbar-light">
    {{#if user}}
        <a class="navbar-brand" href="/admin">主页</a>
        {{#if user.admin}}
        {{else}}
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/publish">发布新物流</a>
                </li>
            </ul>
        {{/if}}
        <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item">
                <a class="nav-link" href="/admin/user">个人中心</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">退出</a>
            </li>
        </ul>
    {{else}}
        <a class="navbar-brand" href="/">物流管理信息系统</a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/list">物流列表</a>
            </li>
        </ul>
        <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item">
                <a class="nav-link" href="/login">登录</a>
            </li>
        </ul>
    {{/if}}
</nav>