<div id="fullpage">
    <div class="section">
        <div class="section1">
            <h1>物流管理信息系统</h1>
            <form action="/search" method="post" class="search-box col-lg-6 col-md-8 col-xs-11 col-sm-10">
                <div class="input-group">
                    <input type="text" class="form-control" autocomplete="off" name="id" placeholder="物流单号查询" autofocus>
                    <span class="input-group-btn"><input class="btn btn-success" type="submit" value="搜索"></span>
                </div>
            </form>
            <a href="/list" class="to-list">去看别人发物流信息</a>
        </div>
    </div>
    <div class="section">
        <div class="section2">
            <h1>一站式服务</h1>
            <p><a href="/login" class="login">已有账号？登录</a> / <a href="/register" style="font-weight: 300;">立即注册</a></p>
        </div>
    </div>
    <div class="section section3">
        <div class="section3">
            <h1 style="margin-bottom: 30px;">关于我们</h1>
            <a class="about" href="https://github.com/fengyuanzemin/logistics" target="_blank">github地址</a>
        </div>
    </div>
</div>
<script>
    $('#fullpage').fullpage();
</script>
<style>
    /*第一页*/
    .section1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(0deg, #2DB0F9 0%, #1478F0 100%);
        flex-direction: column;
        position: relative;
    }

    .section1 h1 {
        margin-bottom: 80px;
        color: #ffffff;
    }

    .section1 h1::selection {
        color: #333333;
    }

    .to-list {
        position: absolute;
        bottom: 30px;
        right: 50px;
        color: #eeeeee;
    }

    .to-list:hover {
        text-decoration: none;
        color: #ffffff;
    }

    /*第二页*/
    .section2, .section3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        flex-direction: column;
    }

    .section2 a {
        color: #333333;
        text-decoration: none;
    }

    .section2 h1 {
        margin-bottom: 40px;
    }

    .section2 .login {
        color: #1478f0;
        font-weight: 300;
    }

    h1 {
        font-weight: 300;
        color: #333333;
    }

    .search-box input {
        font-weight: 300;
    }

    .about, .about:hover, .about:visited,
    .about:active, .about:focus {
        text-decoration: none;
        font-weight: 300;
        color: #1478f0;
        outline: none;
    }

</style>