<!-- 登录页 -->
<div class='container'>
    <h4 class="panel-title text-center">登录</h4>
    <div class="row Login-box">
        <div class="col-lg-4 col-lg-offset-4">
            <form action="/login" method="POST" class="form-signin" role="form">
                <input type="text" class="form-control" name="phone" placeholder="手机号" required
                       autofocus="true" autocomplete="off">
                <input style="margin-top:10px;" type="password" class="form-control" name="password" placeholder="密码"
                       required>
                <input class="btn btn-primary btn-block" style="margin-top:10px;" type="submit" value="登录">
            </form>
        </div>
    </div>
</div>
