<div class="container">
    {{>header}}
    {{>alert}}
    <div class="row login-box">
        <div class="login col-lg-4 col-md-6 col-sm-8 col-xs-10" style="padding-bottom: 15px;top:0;">
            <h4 class="login-header text-center">新密码</h4>
            <form action="/admin/user/password" method="POST" class="login-body" role="form">
                <div class="input-container">
                    <input type="password" data-toggle="tooltip" data-placement="left" class="form-control" name="password" placeholder="密码"
                           required title="请不要用真实密码，本网站概不负责">
                    <span class="iconfont icon-unvisible"></span>
                </div>
                <input type="hidden" name="id" value="{{user.id}}">
                <input class="btn button-blue btn-block" type="submit" value="完成">
            </form>
        </div>
    </div>
</div>
<style>
    .input-container {
        position: relative;
        margin-bottom: 15px;
    }

    .iconfont {
        position: absolute;
        right: 8px;
        bottom: 4px;
        z-index: 10;
        cursor: pointer;
    }
</style>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    $('.iconfont').click(function (e) {
        e.stopPropagation();
        if ($(this).hasClass('icon-unvisible')) {
            $(this).removeClass('icon-unvisible');
            $(this).addClass('icon-visible');
            $('input[name="password"]').prop('type', 'text');
        } else {
            $(this).removeClass('icon-visible');
            $(this).addClass('icon-unvisible');
            $('input[name="password"]').prop('type', 'password');
        }
    });
</script>