<!-- 登录页 -->
<div class="container">
    {{>header}}
    {{>alert}}
    <div class="row login-box">
        <div class="login col-lg-4 col-md-6 col-sm-8 col-xs-10">
            <h4 class="login-header text-center"><span class="iconfont icon-iconfontzhuce"></span>注册</h4>
            <form action="/register" method="POST" class="login-body" role="form">
                <input type="text" class="form-control" name="phone" placeholder="手机号" required
                       autofocus="true" autocomplete="off" maxlength="11">
                <div class="input-container">
                    <input type="password" data-toggle="tooltip" data-placement="left" class="form-control"
                           name="password" placeholder="密码"
                           required title="请不要用真实密码，本网站概不负责">
                    <span class="iconfont icon-unvisible icon-click"></span>
                </div>
                <input class="btn button-blue btn-block" type="submit" value="完成">
                <a href="/login" class="login-checkout float-xs-right">已有账号？去登录</a>
            </form>
        </div>
    </div>
</div>
<style>
    .input-container {
        position: relative;
        margin-bottom: 15px;
    }

    .icon-iconfontzhuce {
        font-size: 20px;
        position: relative;
        top: -3px;
        margin-right: 5px;
    }

    .icon-click {
        position: absolute;
        right: 8px;
        bottom: 4px;
        z-index: 10;
        cursor: pointer;
    }
</style>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    $('.iconfont').click(function (e) {
        e.stopPropagation();
        if ($(this).hasClass('icon-unvisible')) {
            $(this).removeClass('icon-unvisible');
            $(this).addClass('icon-visible');
            $('input[name="password"]').prop('type', 'text');
        } else {
            $(this).removeClass('icon-visible');
            $(this).addClass('icon-unvisible');
            $('input[name="password"]').prop('type', 'password');
        }
    });
</script>